[data-page="retro"] {
  display: grid;
  place-items: center;
  background: white;
}
[data-page="retro"] .slider-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

[data-page="retro"] .columns {
  display: flex;
  gap: 48px;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
